

@{
    ViewData["Title"] = "Login BBVA";
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";

    string sUrl_WebAdmin = ViewBag.sUrlWebApi;


}

<script>var Url_WebAdmin="@sUrl_WebAdmin";</script>


<style>


    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('../../images/loading7.gif') 50% 50% no-repeat;
    }

    /* When the body has the loading class, we turn
    the scrollbar off with overflow:hidden */
    body.loading .modal {
        overflow: hidden;
    }

    /* Anytime the body has the loading class, our
    modal element will be visible */
    body.loading .modal {
        display: block;
    }
</style>


<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('../../lib/Login_design/images/bbvacity.jpg');"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form class="login100-form validate-form">

                <div style="text-align:center; margin:0 auto;">
                    <img src="~/lib/Login_design/images/bbva.png" style="margin-bottom:20px; margin-top:20px " height="50" width="150">
                </div><br />

                <div class="wrap-input100 validate-input" data-validate="User is required">
                    @*<span class="label-input100">Usuario</span>*@
                    <input id="txtUsuario" class="input100" type="text" name="username" placeholder="Username...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    @*<span class="label-input100">Password</span>*@
                    <input id="txtPassword" class="input100" type="password" name="pass" placeholder="Password...">
                    <span class="focus-input100"></span>
                </div>


                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtnx"></div>
                        @*<button class="login100-form-btn" id="btnLogin">
                                Sign Up
                            </button>*@


                        @*<button type="button" id="btnLogin" class="login100-form-btn"><i class="fa fa-files-o"></i> Ingresar</button>*@
                        <button type="button" id="btnLogin" class="btn btn-info"><i class="fa fa-unlock-alt"></i> Ingresar</button>
                        <button type="button" id="btnLogin2" class="btn btn-danger"><i class="fa fa-commenting-o"></i> Recordar</button>
                    </div>

                </div>

                <!-- componente hide que nos ayuda a realizar el Redirect de un controller  otro-->
                @Html.Hidden("RedirectTo", Url.Action("Index", "Home"))

            </form>
        </div>


    </div>
</div>


<div class="modal"><!-- Place at bottom of page --></div>


