<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    
    <add key="ApplicationID" value="30" />

    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <!--Datos de Envio de Correo-->
    <!--<add key="ServidorCorreo" value="118.180.25.77"/>-->
    <add key="ServidorCorreo" value="118.180.54.25"/>
    <add key="PuertoCorreo" value="25"/>
    <add key="CorreoRemitente" value="continentalbolsaTest@bbva.com.pe"/>
    <add key="CorreoDestinatarioTemporal" value="continentalbolsaTest@bbva.com.pe"/>
    <!-- Fin de Datos de Envio a correo-->
    <add key="FechasPorCliente" value="0"/>
    <!--Cantidad de meses anteriores que se mostrará en la fecha Inicial-->
    <add key="FechasDelDia" value="0"/>
    <!--Cantidad de meses anteriores que se mostrará en la fecha Inicial-->
    <add key="Ambiente_Desarrollo" value="P"/>
    <add key="IdentificadorComisionSABSimulador" value="1"/>
    <add key="IdCorreoPolizas" value="2"/>
    <add key="IdCorreoPrePolizas" value="3"/>
    <add key="IdCorreoOperacionesDiarias" value="1"/>
    <add key="IdCorreoSimuladorReporte" value="4"/>
    <add key="IdCorreoCuentaEfectivo" value="8"/>
    <add key="SetCountNemonicos" value="50"/>
    <!--Valores Encriptacion -->
    <add key="Key" value="p@ssw0rd"/>
    <add key="UrlImagen" value="http://118.180.36.62/SabFrontOffice/image/imagenes/bbva_bolsa_logo.gif"/>
    <add key="UrlLogoSAB" value="http://118.180.36.62/SabFrontOffice/image/imagenes/ContinentalSAB.bmp"/>
    <add key="CodigoSistema" value="002"/>
    <!--Datos del server FTP-->
    <add key="ServidorFTP" value="118.116.18.55"/>
    <add key="UserFTP" value="tecnologia"/>
    <add key="PassFTP" value="T1234567"/>
    <add key="PortFTP" value="22"/>
    <add key="ElexPageSize" value="10"/>
    <add key="ElexCodigoConfiguracion" value="1"/>
    <add key="ElexLugarNegociacionDefault" value="R"/>
    <!--Fin-->
    <!--Configuración de No Asignadas Elex -->
    <add key="TipoCanalDefault" value="T"/>
    <add key="SituacionDefault" value="A"/>
    <add key="CanalEspecial" value="E"/>
    <!--Argumento de Busqueda de Consulta de Clientes-->
    <add key="ArgumentoValoresPosicionCliente" value="P"/>
    <!--Fin-->
    <add key="ConsultarCalculadoraTodas" value="T"/>
    <!--PETICION 200901063-->
    <add key="NroMinActualizarReferencias" value="10"/>
    <add key="NroOcurrenciasOperaciones" value="50"/>
    <!--Fin-->
    <!--PETICION 200904025-->
    <add key="AsuntoNoAsignadasInstitucionales" value="OPERACIONES NO ASIGNADAS - Clientes Institucionales"/>
    <add key="EmailErroresNoAsignadasInstitucionales" value="rvargasg@grupobbva.com.pe"/>
    <add key="CopiaEmailErroesNoAsignadasInstitucionales" value="rvargasg@grupobbva.com.pe"/>
    <add key="IdOperacionesNoAsignadas" value="7"/>
    <add key="RemitenteNoAsignadasInstitucionales" value="rvargasg@grupobbva.com.pe"/>
    <!--<add key="Ambiente" value="D"/>-->
    <add key="Ambiente" value="D"/>
    <add key="HostName" value="118.220.20.82"/>
    <add key="Puerto" value="1437"/>
    <add key="Canal" value="SYSTEM.DEF.SVRCONN"/>
    <add key="QueueManager" value="QMPDTNET"/>
    <add key="ColaLocal" value="QLT.TNET.ENVIO"/>
    <add key="ColaRemota" value="QRT.TNET.RESP.MPD1"/>
    <add key="ColaReply" value="QRT.TNET.ENVIO.QMPDTNET"/>
    <add key="CanalMQI" value="TNET"/>
    <add key="CodigoSistema" value="001"/>
    <!--<add key="Transacciones.Transacciones" value="http://localhost:53180/Bolsa_WS/Transacciones.asmx"/>-->
    <!--RED ACCENTURE -->
    <!--<add key="Transacciones.Transacciones" value="http://172.31.9.48/wserFrontOffice/Transacciones.asmx"/>
		<add key="WSERTransacciones.Transacciones" value="http://172.31.9.48/wsergeneral/Transacciones.asmx"/>
		<add key="WSER_AutorizadorInversionesPortafolios.GLService" value="http://172.31.9.48/WSER_AutorizadorInversionesPortafolios/GLService.asmx"/>-->
    <!--RED VPN -->
    <!--
		<add key="Transacciones.Transacciones" value="http://118.180.36.60/wserFrontOffice/Transacciones.asmx"/>
		<add key="WSERTransacciones.Transacciones" value="http://118.180.36.60/wsergeneral/Transacciones.asmx"/>
		<add key="WSER_AutorizadorInversionesPortafolios.GLService" value="http://118.180.36.60/WSER_AutorizadorInversionesPortafolios/GLService.asmx"/>
		-->
    <!-- PARAMETROS HUB INTEGRADOR INICIO-->
    <!--PRODUCCION-->
    <add key="ServidorHI" value="http://118.180.13.219:7080/sab/"/>
    <!--CALIDAD
    <add key="ServidorHI" value="http://118.180.26.28:7080/sab/"/>-->
    <!--TEST-->
    <!--<add key="ServidorHI" value="http://118.180.36.26:7080/sab/"/>-->

    <add key="codigoAplicacionHeader" value="SAB"/>
    <add key="v" value="SSAB"/>
    <add key="idInterconexionHeader" value="SAB"/>
    <add key="codigoEmpresa" value="BBVA"/>
    <add key="codigoTerminalEmpresa" value="001"/>
    <add key="canal" value="VL"/>
    <add key="idPeticionBanco" value="123"/>

    <add key="OperacionHubIntegradorVLA0" value="rvalusu"/>
    <add key="OperacionHubIntegradorVLA1" value="cordclismv"/>
    <add key="OperacionHubIntegradorVLA2" value="ccli"/>
    <add key="OperacionHubIntegradorVLA3" value="cclis"/>
    <add key="OperacionHubIntegradorVLA4" value="cfacs"/>
    <add key="OperacionHubIntegradorVLA5" value="csalstitval"/>
    <add key="OperacionHubIntegradorVLA6" value="ccatsval"/>
    <add key="OperacionHubIntegradorVLA7" value="pordcomval"/>
    <add key="OperacionHubIntegradorVLA8" value="pordvenval"/>
    <add key="OperacionHubIntegradorVLA9" value="roperenfijvar"/>
    <add key="OperacionHubIntegradorVLAA" value="cordscli"/>
    <add key="OperacionHubIntegradorVLAB" value="cdetord"/>
    <add key="OperacionHubIntegradorVLAC" value="rordsext"/>
    <add key="OperacionHubIntegradorVLAD" value="cctavalemp"/>
    <add key="OperacionHubIntegradorVLAE" value="cconsaldoxreg"/>
    <add key="OperacionHubIntegradorVLAF" value="rgar"/>
    <add key="OperacionHubIntegradorVLAG" value="rgenpol"/>
    <add key="OperacionHubIntegradorVLAH" value="ractuapoli"/>
    <add key="OperacionHubIntegradorVLAI" value="cdetpol"/>
    <add key="OperacionHubIntegradorVLAJ" value="cpolsctaval"/>
    <add key="OperacionHubIntegradorVLAK" value="cpolsfec"/>
    <add key="OperacionHubIntegradorVLAL" value="ropepol"/>
    <add key="OperacionHubIntegradorVLAM" value="cconsnemo"/>
    <add key="OperacionHubIntegradorVLAN" value="cbrks"/>
    <add key="OperacionHubIntegradorVLAO" value="cordspens"/>
    <add key="OperacionHubIntegradorVLAP" value="rsimoperep"/>
    <add key="OperacionHubIntegradorVLAQ" value="cproord"/>
    <add key="OperacionHubIntegradorVLAR" value="rordneg"/>
    <add key="OperacionHubIntegradorVLAS" value="cmapsglos"/>
    <add key="OperacionHubIntegradorVLAT" value="cdetmapglo"/>
    <add key="OperacionHubIntegradorVLAU" value="cclisesps"/>
    <add key="OperacionHubIntegradorVLAV" value="copescliesp"/>
    <add key="OperacionHubIntegradorVLAW" value="cdetcueefe"/>
    <add key="OperacionHubIntegradorVLIF" value="rgenestcue"/>
    
  </appSettings>


  <connectionStrings>


    <!--TEST-->
    <!--<add name="cadena" connectionString="Data Source=118.185.8.36;Initial Catalog=MG_Bolsa; user id= UsrBolsa;password=UsrBolsa"/>-->
    <!--CALIDAD
    <add name="cadena" connectionString="Data Source=118.185.8.37;Initial Catalog=MG_Bolsa; user id= sabolsa;password=us3rb0ls@sql2"/>-->
    <!--PRODUCCION-->
    <add name="cadena" connectionString="Data Source=118.185.8.14;Initial Catalog=MG_Bolsa; user id= sabolsa;password=us3rb0ls@sql2"/>

    
    <add name="Url_WebApi" connectionString="http://localhost:49395/Api/Sistep/" />

    <add name="Url_WeAdmin" connectionString="http://localhost:49395/Api/Sistep/" />

    <!--
    <add name="Url_WebApi" connectionString="http://181.65.212.74/SGT_WEB_API/Api/AppTextil/" />
    -->
  </connectionStrings>



  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>